.login-main {
  display: flex;
  justify-content: center;
  gap: 50px;

  @media screen and (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .left,
  .right {
    width: 50%;
    max-width: 446px;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    .btn {
      width: 100%;
      justify-content: center;
    }
  }
}
