.custom-form-control {
  margin-bottom: 10px;

  label {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    margin-left: 8px;
    opacity: 0.5;
  }

  .input {
    position: relative;

    input,
    textarea {
      display: block;
      width: 100%;
      border-radius: 4px;
      border: 0;
      padding: 6px;
      font-size: 16px;

      &::placeholder {
        color: rgba($color3, 0.7);
      }

      &:focus {
        border-color: $color1;
      }
    }

    input {
      background-color: transparent;
      height: 34px;
      border: 1px solid $color13;
    }

    textarea {
      background-color: transparent;
      border: 1px solid rgba($color1, 0.2);

      &::-webkit-scrollbar-thumb {
        background-color: $color2;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
    }

    .pwd-icon {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 24px;
      filter: invert(39%) sepia(44%) saturate(303%) hue-rotate(173deg)
        brightness(89%) contrast(89%);
    }

    .icon + input {
      padding-left: 48px;
    }
  }
}
