#landing-support {
  position: relative;
  background-color: $color9;

  @media screen and (max-width: 991px) {
    padding: 20px 0 10px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../../../assets/vectors/bva-bg-pattern.svg");
    pointer-events: none;
  }

  .man {
    position: absolute;
    bottom: 0;
    left: 40px;
    max-width: 122px;
    z-index: 9;

    @media screen and (max-width: 991px) {
      max-width: 100px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 50px 18%;
    grid-gap: 30px;
    gap: 30px;

    @media screen and (max-width: 1199px) {
      padding-right: 20px;
    }

    @media screen and (max-width: 991px) {
      flex-direction: column;
      padding: 12px 20px;
      grid-gap: 10px;
      gap: 10px;
      align-items: flex-start;
    }

    @media screen and (max-width: 991px) {
      padding-left: 150px;
    }

    @media screen and (max-width: 767px) {
      padding-left: 20px;
    }

    .left {
      max-width: 40%;
      min-width: 171px;

      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    .center,
    .right {
      h5 {
        margin-bottom: 20px;
      }

      p {
        color: #333333;
        font-size: 18px;

        a {
          text-decoration: underline;
          color: $color11;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .center {
      max-width: 40%;

      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    .right {
      max-width: 40%;

      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 50px;
    border-top: 1px solid rgba(14, 86, 151, 0.2);

    @media screen and (max-width: 991px) {
      padding-left: 150px;
    }

    @media screen and (max-width: 767px) {
      padding-left: 20px;
      flex-wrap: wrap;
      gap: 20px;

      h5 {
        width: 100%;
        text-align: center;
        gap: 20px;
      }
    }

    img {
      height: 40px;

      @media screen and (max-width: 767px) {
        height: 24px;
      }
    }
  }
}
