#register {
  .register-main {
    max-width: 442px;
    margin-left: auto;
    margin-right: auto;

    .steps-wrap {
      display: flex;
      height: 72px;
      gap: 20px;

      @media screen and (max-width: 575px) {
        gap: 10px;
      }

      .step-item {
        display: flex;
        align-items: center;
        gap: 10px;

        &,
        * {
          font-size: 14px;
        }

        &:last-child {
          svg {
            display: none !important;
          }
        }

        .num {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: #fff;
          font-weight: 500;
          background-color: $color20;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .label {
          display: none;
        }

        &.active {
          .num {
            background-color: $color1;
          }

          .label {
            display: block;
          }
        }
      }
    }

    .account-type {
      margin-top: 24px;
      margin-bottom: 20px;
    }

    .btn .btn-text {
      display: flex;
      align-items: center;
    }

    .btn.btn-orange {
      flex-grow: 1;
      justify-content: center;
    }
  }

  .congrats {
    text-align: center;
    padding: 100px 0;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      max-width: 70px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
