.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  flex-shrink: 0;
  outline: none;
  padding: 12px;
  font-size: 16px;

  &.btn-bordered {
    border: 2px solid #fff;

    .btn-text {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.btn-orange {
    color: #fff;
    background-color: $color6;
    height: 50px;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 500;

    &,
    * {
      text-decoration: none !important;
    }

    &:hover {
      background-color: $color8;

      .btn-text {
        color: $color6 !important;
      }
    }
  }

  &.btn-orange-blue {
    background-color: #fff;
    // border: 2px solid #006eb3;
    padding: 10px 32px;

    .btn-text {
      color: #006eb3 !important;
      font-weight: 500;
      font-size: 20px;
    }

    &:hover {
      background-color: #006eb3;

      .btn-text {
        color: #fff !important;
      }
    }
  }

  &.btn-small {
    font-size: 16px;
    padding: 12px 15px;
  }
}
