.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  flex-shrink: 0;
  outline: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 50px;

  @include transitioned;

  &.btn-bordered {
    border: 2px solid #fff;
    padding-left: 18px;
    padding-right: 18px;
    height: 40px;

    &:hover {
      transform: translateY(-2px);
      &,
      * {
        text-decoration: none;
      }
    }

    .btn-text {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.btn-orange {
    color: #fff;
    background-color: $color1;
    height: 50px;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid transparent;

    @media screen and (max-width: 991px) {
      font-size: 16px;
      padding: 12px 24px;
    }

    &,
    * {
      text-decoration: none !important;
    }

    &:hover {
      background-color: $color8;
      border-color: transparent;

      .btn-text {
        color: $color1 !important;
      }
    }
  }

  &.btn-green {
    background-color: $color18;

    .btn-text {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }

    &:hover {
      text-decoration: none;
    }

    &:hover {
      background-color: $color19;
    }
  }

  &.btn-orange-blue {
    background-color: #fff;
    // border: 2px solid #006eb3;
    padding: 10px 32px;

    .btn-text {
      color: #006eb3 !important;
      font-weight: 500;
      font-size: 20px;
    }

    &:hover {
      background-color: #006eb3;
      text-decoration: none;

      .btn-text {
        color: #fff !important;
      }
    }
  }

  &.btn-small {
    font-size: 16px;
    padding: 12px 24px;
    height: 44px;
  }
}
