#become-seller-footer {
  padding: 30px 0;
  background-image: url("../../../assets/imgs/grijs.png");
  background-size: cover;
  background-position: center center;

  .page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 575px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }

    .thuiswinkel {
      width: 110px;
    }

    .feedback {
      width: 81px;
    }

    .right {
      display: flex;
      gap: 40px;
    }
  }
}
