#landing-highlighted-categories {
  .category-items {
    display: flex;
    gap: 24px;
    padding-bottom: 26px;
    // padding-left: 20px;
    // padding-right: 20px;
    // margin-left: -20px;

    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #eee;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
    }

    @media screen and (max-width: 1199px) {
    }

    .category-item {
      width: calc(33.33% - 12px - 40px);
      min-width: 436px;

      @media screen and (max-width: 767px) {
        min-width: 250px;
      }
    }

    .card {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
      display: block;

      @include transitioned;

      &:hover {
        box-shadow: 0 8px 24px rgb(0 0 0 / 20%);
      }

      .card-img {
        min-height: 240px;
        background-size: cover;

        @media screen and (max-width: 767px) {
          min-height: 130px;
        }
      }

      .card-text {
        padding: 6px;

        h4 {
          margin: 10px 0;
        }
      }
    }
  }
}
