#terms {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a {
    color: $color1;
  }

  ol,
  ul {
    margin-left: 40px;
    margin-bottom: 10px;

    li {
      margin-bottom: 6px;
    }
  }
}
