// $color1: #006eb3;
$color1: #f60;
$color2: #007aff;
$color3: #231f20;
$color4: #e8f1f9;
$color5: #f4f4f4;
$color6: #f60;
$color7: #007aff;
$color8: #ffe8d9;
$color9: #b3e0fd;
$color10: #f4f4f4;
$color11: #006eb3;
$color12: #f4f4f4;
$color13: #bebebe;
$color14: #e1e1e1;
$color15: #333;
$color16: #bebebe;
$color17: #b3e0fd;
$color18: #00a472;
$color19: #008b60;
$color20: rgba(0, 0, 0, 0.54);
$color21: #555;
