@import "./utilities-2";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

h1 {
  font-size: 40px;

  @media screen and (max-width: 991px) {
    font-size: 28px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}

h2 {
  font-size: 36px;

  @media screen and (max-width: 991px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 28px;

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;

  @media screen and (max-width: 1199px) {
    font-size: 16px;
  }
}

.text-primary-1 {
  color: $color1;
}

.text-primary-2 {
  color: $color11;
}

.text-grey-1 {
  color: $color22;
}

.PhoneInput {
  border: 1px solid $color13;
  height: 34px;

  .PhoneInputCountry {
    padding: 0 10px;
    width: 56px;
    border-right: 1px solid $color13;
  }
}

.c-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.h-100 {
  height: 100%;
}

.custom-navigation {
  display: flex;
  align-items: center;
  gap: 20px;

  .nav-btn {
    background-color: $color1;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;

    @include transitioned;

    &:hover {
      opacity: 0.9;
    }

    &.swiper-button-disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    &,
    * {
      color: #fff;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: $color1 !important;
}
