@import "./colors";
@import "./mixins";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Source Sans Pro", "Arial", sans-serif;
}

body {
  font-size: 16px;
  color: $color3;
}

a {
  text-decoration: none;
  color: inherit;

  &:not(.no-dec) {
    &:hover {
      text-decoration: underline;
    }
  }
}

input {
  display: block;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: none;

  &::placeholder {
    opacity: 0.5;
  }
}

.ratings {
  display: flex;
  gap: 4px;

  * {
    color: $color6;
  }
}

p {
  line-height: 1.5;
}

ol,
ul {
  margin-left: 40px;
  margin-bottom: 10px;

  li {
    margin-bottom: 6px;
  }
}
