@import "./colors";
@import "./mixins";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Source Sans Pro", "Arial", sans-serif;
}

body {
  font-size: 16px;
  color: $color3;
}

a {
  text-decoration: none;
  color: inherit;

  &:not(.no-dec) {
    &:hover {
      text-decoration: underline;
    }
  }
}

input {
  display: block;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: none;

  &::placeholder {
    opacity: 0.5;
  }
}

.ratings {
  display: flex;
  gap: 4px;

  * {
    color: $color1;
  }
}

p {
  line-height: 1.5;
}

.btn.one-click {
  .btn-text {
    display: flex;
    align-items: center;
    gap: 10px;

    .one-click {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid #fff;
      font-size: 9px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.btn.btn-save {
  width: 100%;
  max-width: 220px;
  justify-content: center;
}

.h-100 {
  height: 100%;
}
