.custom-select-container {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;

  .selected-text {
    padding: 10px;
    cursor: pointer;
    font-weight: 00;
    font-weight: 100;
    font-size: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 40px;
    color: $color15;

    svg {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // .selected-text::after {
  //   content: "";
  //   position: absolute;
  //   right: 10px;
  //   top: 16px;
  //   border: 7px solid transparent;
  //   border-color: black transparent transparent transparent;
  // }

  ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 100%;
    z-index: 1;
  }

  .select-options {
    position: absolute;
    margin-top: 1px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  li {
    list-style-type: none;
    padding: 8px 20px;
    cursor: pointer;
    background: #fff;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: $color5;
  }

  .show-dropdown-options {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
  }

  .hide-dropdown-options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
