#landing-product {
  margin: -50px 0 30px;

  .product {
    overflow: hidden;
    box-shadow: 0 8px 24px rgb(0 0 0 / 20%);
    background: #fff;
    height: 470px;
    display: flex;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      margin-left: -10px;
      margin-right: -10px;
      border-radius: 0;
    }

    &:hover {
      .left {
        img {
          transform: scale(1.02);
        }
      }
    }

    & > * {
      width: 50%;
    }

    .left {
      height: 100%;
      background-size: cover;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 991px) {
        height: 470px;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: transform 0.75s ease;
      }

      .btn {
        position: absolute;
        left: 40px;
        bottom: 50px;

        @media screen and (max-width: 991px) {
          bottom: 25px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .right {
      overflow: hidden;

      @media screen and (max-width: 991px) {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        min-height: 138px;
      }

      .product-item {
        border-bottom: 2px solid $color5;
        min-height: 157px;
        display: flex;
        padding: 6px 0;

        @include transitioned;

        @media screen and (max-width: 991px) {
          width: 33.33%;
          min-height: 138px;
          border-right: 2px solid #f4f4f4;
          min-width: 320px;
        }

        &:hover {
          background-color: rgba($color: $color8, $alpha: 0.2);
        }

        .text {
          padding: 0 24px;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @media screen and (max-width: 991px) {
            padding: 0 16px;
          }

          svg {
            transform: scale(1.2) translateY(1px);
          }

          .top {
            h5 {
              line-height: 1.6;
              max-height: 52px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .bottom {
            .item {
              height: 42px;

              .closes {
                font-size: 14px;
              }

              &:nth-child(2) {
                * {
                  color: $color1;
                }
              }
            }
          }
        }

        .imgs {
          position: relative;
          width: 40%;
          padding: 24px;
          flex-shrink: 0;
          border-left: 1px solid $color4;

          @media screen and (max-width: 991px) {
            padding: 18px;
          }

          .imgs-main {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (max-width: 991px) {
              // width: 100%;
              // left: 50%;
              // transform: translate(-50%, -50%);
              height: 100%;
              position: static;
              transform: unset;
            }

            img {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 5px;
              width: 152px;
              box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
              z-index: 9;

              @media screen and (max-width: 991px) {
                width: 100%;
                position: static;
                transform: none;
                // width: 70%;
              }

              &:nth-child(1) {
                z-index: 3;
              }

              &:nth-child(2) {
                left: 20px;
                transform: translateY(-50%) scale(0.9);
                z-index: 2;

                @media screen and (max-width: 991px) {
                  display: none;
                }
              }

              &:nth-child(3) {
                left: 40px;
                transform: translateY(-50%) scale(0.8);
                z-index: 1;

                @media screen and (max-width: 991px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .marketing-msgs {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 52px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    .item {
      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
      svg {
        margin-right: 12px;
      }
    }
  }
}
