#dashboard-personal-info {
  .personal-info-section {
    margin: 20px 0;

    .form {
      padding: 10px 25px;
    }
  }

  .btn.btn-green {
    width: 100%;
    max-width: 220px;
    justify-content: center;
  }
}
