#how-it-works-short-explanation {
  padding: 60px 0;

  .page-container {
    max-width: 792px;
  }

  h3 {
    margin-bottom: 40px;
  }

  .accordion {
    margin-bottom: 36px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);

    .panel {
      border-bottom: 1px solid $color14;

      .panel-header {
        display: flex;
        padding: 20px 14px;
        cursor: pointer;

        .index {
          text-align: center;
          line-height: 24px;
          margin-right: 8px;
          display: block;
          top: 16px;
          left: 12px;
          height: 24px;
          width: 24px;
          background-color: #b3e0fd;
          border-radius: 50% 50% 10% 50%;
          color: #006eb3;
          font-size: 14px;
          flex-shrink: 0;
        }

        .title {
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          flex-grow: 1;

          .rotate {
            transform: rotate(900deg);
          }
        }
      }

      .panel-body {
        padding: 0 25px 20px;
      }
    }
  }
}
