#landing-discover {
  margin-bottom: 20px;

  .discover-main {
    padding: 40px 40px 40px 30px;
    background-color: $color11;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    .overlay {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        269.34deg,
        $color11 23.05%,
        rgba(0, 110, 179, 0) 97.68%
      );
      pointer-events: none;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    .discover {
      background-image: url("../../../assets/vectors/bva-bg-pattern-black.svg");
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }

      .left {
        width: 25%;
        flex-shrink: 0;
        position: relative;

        @media screen and (max-width: 991px) {
          width: 100%;
          text-align: center;
        }

        img {
          width: 150px;

          @media screen and (max-width: 991px) {
            width: 100px;
          }
        }
      }

      .center {
        flex-grow: 1;
        position: relative;
        z-index: 1;

        @media screen and (max-width: 991px) {
          width: 100%;
          text-align: center;
        }

        h2 {
          color: #fff;
          font-weight: 500;

          @media screen and (max-width: 991px) {
            font-weight: 400;
            margin-top: 26px;
          }
        }

        .discover-btn {
          display: inline-flex;
          margin-top: 32px;

          @media screen and (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 20%;
        flex-shrink: 0;

        @media screen and (max-width: 991px) {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }

        .twk {
          position: relative;
          z-index: 1;
          width: 195px;

          @media screen and (max-width: 991px) {
            width: 130px;
          }
        }
      }
    }
  }
}
