#footer {
  padding: 80px 0;
  // background: url("../../assets/vectors/bva-bg-pattern-white.svg") $color1;
  background: url("../../assets/vectors/bva-bg-pattern-white.svg") $color2;
  background-blend-mode: overlay;
  color: #fff;
  font-size: 18px;

  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }

  h5 {
    // color: $color1;
  }

  .download-btns {
    flex-wrap: wrap;
    gap: 4px;
  }

  .links {
    margin-top: 24px;

    a {
      display: block;
      margin-bottom: 18px;
      color: hsla(0, 0%, 100%, 0.9);

      @include transitioned;

      &:hover {
        color: $color1;
        text-decoration: none;
      }
    }
  }

  .ratings {
    &,
    * {
      color: $color2;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      flex-flow: column;
      text-align: center;
    }

    .social {
      display: flex;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 767px) {
        margin: 24px 0;
      }

      img {
        height: 20px;
        filter: invert(100%);
      }

      a {
        &:nth-child(2) {
          img {
            height: 30px;
          }
        }
      }
    }

    .extra-links {
      display: flex;
      align-items: center;
      margin: 0;
      justify-content: center;
      flex-flow: wrap;
      gap: 10px;

      a {
        img {
          width: 12px;
        }
      }
    }
  }
}
