#closing-auctions {
  padding: 80px 0;

  .items {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      height: 250px;
      border-radius: 10px;
      box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
      overflow: hidden;
      padding: 24px;
      gap: calc(15px + 24px);
      transition: all 0.2s ease-in-out;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .info {
          .info-item {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            margin-bottom: 3px;
            height: 42px;
            gap: 12px;

            &:nth-child(3) {
              * {
                color: $color6;
              }
            }
          }
        }
      }

      .right {
        flex-shrink: 0;
        width: 45%;
        border-radius: 5px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}
