#auction-details {
  padding: 40px 0;
  background-color: $color5;

  .card {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
    overflow: hidden;
    font-size: 17px;
  }
}
