#privacy {
  margin: 30px 0;
  overflow-wrap: break-word;

  p {
    margin-bottom: 10px;
  }

  ol,
  ul {
    margin-left: 40px;
    margin-bottom: 10px;

    li {
      margin-bottom: 6px;
    }
  }
}
