#become-seller-hero {
  background: url("../../../assets/imgs/bva-building.jpg");
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 481px;
  position: relative;

  .main {
    margin-left: auto;
    margin-right: auto;
    height: 481px;
    position: relative;
  }

  .tag {
    display: block;
    background: rgba(9, 8, 8, 0.28);
    border-style: none;
    border-radius: 5px;
    left: 550px;
    top: 123px;
    z-index: 52;
    width: 390px;
    height: 134px;
    position: absolute;
    padding: 10px;

    & > * {
      font-size: 28px;
      color: #fff;
    }

    @media screen and (max-width: 1199px) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: 575px) {
      left: 50%;
      transform: translateX(-50%);
      background: rgba(9, 8, 8, 0.5);
      top: 10px;
      height: 120px;
      width: 320px;

      & > * {
        font-size: 22px;
      }
    }
  }
}
